@import '../../styles/_Breakpoint'
.logement
    width: 80%
    margin: auto
    &--information
        display: flex
        flex-direction: row
        gap: 78px
        @include mobile
            flex-direction: column
            gap: 0px