.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  align-items: center;
  gap: 25px;
  padding: 50px;
}
@media (max-width: 767.99px) {
  .footer {
    height: 250px;
    padding: 80px;
  }
}
.footer__image {
  height: 39px;
}
.footer__info {
  color: white;
}