@import "../../styles/_Var.sass"
@import "../../styles/_Breakpoint.sass"
.errorpage
    align-items: center
    margin: auto
    width: 90%
    padding-block: 139px
    gap: 139px
    @include mobile
        padding-block: 113px
        gap: 113px
    img
        height: 263px
        @include mobile
            height: 99px
            
    a
        color: $main-color
        &:active, &:hover
            border-bottom: solid 2px $main-color
    p
        color: $main-color
        font-size: 36px
        text-align: center
        @include mobile
            font-size: 18px